<div id="topnav">
    <ul id="navigation">
        <li class="selected"><%= link_to _("Quiénes somos"), help_about_path %></li>
        <li class="selected"><%= link_to _("Guía para solicitantes"), help_requesting_path %></li>
        <li class="selected"><%= link_to _("Solicitar documentos"), body_index_path, :class => 'make-request-link' %></li>
        <li class="selected"><%= link_to _("Buscar solicitudes"), request_list_all_url %></li>
        <li class="selected"><%= link_to _("Noticias"), blog_url %></li>
       <!-- <li class="selected"><%= link_to _("Tu derecho a saber"), help_right_to_know_path %></li> -->
    </ul>
</div>
