<div id="topnav">
    <ul id="navigation">
        <li class="selected"><%= link_to _("About"), help_about_path %></li>
        <li class="selected"><%= link_to _("Request Guide"), help_requesting_path %></li>
        <li class="selected"><%= link_to _("Make a Request"), body_index_path, :class => 'make-request-link' %></li>
        <li class="selected"><%= link_to _("Search Requests"), request_list_all_url %></li>
        <li class="selected"><%= link_to _("News & Stats"), blog_url %></li>
        <li class="selected"><%= link_to _("Your Right To Know"), help_right_to_know_path %></li>
    </ul>
</div>