<div id="topnav">
    <ul id="navigation">
        <li class="selected"><%= link_to _("Über uns"), help_about_path %></li>
        <li class="selected"><%= link_to _("Anfragen-Leitfaden"), help_requesting_path %></li>
        <li class="selected"><%= link_to _("Anfrage Stellen"), body_index_path, :class => 'make-request-link' %></li>
        <li class="selected"><%= link_to _("Anfragen suchen"), request_list_all_url %></li>
        <li class="selected"><%= link_to _("Infoseite"), blog_url %></li>
       <!-- <li class="selected"><%= link_to _("Ihr Recht zu wissen"), help_right_to_know_path %></li> -->
    </ul>
</div>
