<div id="topnav">
    <ul id="navigation">
        <li class="selected"><%= link_to _("ABOUT"), help_about_path %></li>
        <li class="selected"><%= link_to _("HOW TO REQUEST"), help_requesting_path %></li>
        <li class="selected"><%= link_to _("SEND A REQUEST"), body_index_path, :class => 'make-request-link' %></li>
        <li class="selected">  <a href="/en/search/requests?utf8=✓&query=request"> SEARCH</a> <!-- <%= link_to _("SEARCH"), request_list_all_url %> --></li>
        <li class="selected"><%= link_to _("NEWS & CAMPAIGNS"), blog_url %></li>
        <!-- <li class="selected"><%= link_to _("Your Right To Know"), help_right_to_know_path %></li> -->
    </ul>
</div>
