<div id="frontpage-intro">
   
   <div id="intro-container">
         
	   <div id="intro-big">
		<iframe width="642px" height="363px" style="border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-left-radius: 8px;  border-bottom-right-radius: 8px;" 
						src="http://www.youtube.com/embed/0NBuYOPZn_4 " frameborder="0" allowfullscreen>
						
						</iframe>           
	   </div>
	   <div id="intro-right-up">
		<p class="search">SEARCH</p>
		<p class="asktheeu">AsktheEU.org</p>
		
			<form id="navigation_search_form" action="/en/search/all" method="post">

			<p>
				<input id="navigation_search_query" type="text" placeholder="type your search term here" size="40" name="query"></input>
				<i class="icon-search"><input id="nav_search_button" type="submit" value=""></input></i>
			</p>

			</form>
	   </div>
	   <div id="intro-right-down">
		<div id="send"><%= link_to _("SEND"), body_index_path, :class => 'make-request-link' %></div>
		<div id="arequest"><%= link_to _("A REQUEST"), body_index_path, :class => 'make-request-link' %></div>
	   </div>
      
   </div>
   
	<div id="info-bar">
	   <b>ASKTHEEU.ORG</b> IS AN ONLINE PLATFORM FOR CITIZENS TO SEND ACCESS TO DOCUMENTS REQUESTS DIRECTLY TO EU INSTITUTIONS
	</div>
   
   
   
   
   
    <!--<p id="frontpage-lead"><%= _("THIS IS OUR SPECIAL TEMPLATE,<br/>"+
        "they are legally obliged to respond") %></p>
    
    <div id="frontpage-left-balloon">
        <h2><%= _('About<br/>AsktheEU.org') %></h2>
        <p><%= _("Find out who we are<br/>and how this website works") %></p>
        <div class="frontpage-button-link">
            <span><%= link_to _('More'), help_about_url %></span>
        </div>
    </div>

    <div id="frontpage-middle-balloon">
        <h1><%= _("Make<br/>Your Request") %></h1>
        <p><%= _("Ask a European Union body for information. (You will be asked to sign up/sign in first.)") %></p>
        <div class="frontpage-button-link make-request-link">
            <span><%= link_to _("Request"), body_index_path %></span>
        </div>
    </div>

    <div id="frontpage-right-balloon">
        <h2><%= _("Search<br/>Requests") %></h2>
        <p><%= _("See what others are<br/> asking and the answers they are getting.") %></p>
        <div class="frontpage-button-link">
            <span><%= link_to _("Search"), request_list_successful_url %></span>
        </div>
    </div>
    -->
    <div style="clear:both"></div>
</div>

<div id="frontpage-content">
    <div id="frontpage-inner-content">
        <div id="left-column">
            
            <h1><a href="<%= blog_url %>"><%= _("LATEST NEWS & CAMPAIGNS") %></a></h1>
            <div id="sq1">
				
				 <div class="part1">
					<% item = @blog_items[0]; %>					
					<p>
					<% if item['thumbnail']  %>
						
						<img <%= item['thumbnail'].to_s.html_safe %> style="border:1px solid #B2DCDE; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;" width="250" height="150"/>
					<% else %>
						<p>NO THUMBNAIL</p>					
					<% end %>
					
					<br>
					<a href='<%= item['link'] %>'><%= item['title'][0] %></a>
					<br/>
					<p><%= h excerpt(item['description'][0].to_s, "", :radius => 200) %></p>
				</div> 
				<!--<div class="part1">
					<% item = @blog_items[0]; %>				
					<p>					
                                        <%= image_tag('2.jpg', :style => "border:1px solid #B2DCDE; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;", :width => "250", :height => "150") %>
					<br>
					<a href='<%= "#{blog_url}\##{Time.parse(item['pubDate'][0]).to_i}" %>'><%= item['title'][0] %></a>
					<br/>
					<p><%= h excerpt(item['description'][0].to_s, "", :radius => 200) %></p>
				</div>				
				<br/><br/><br/>
				<div class="part2">
					<% item = @blog_items[2]; %>				
					<p>					
                                        <%= image_tag('4.jpg', :style => "border:1px solid #B2DCDE; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;", :width => "250", :height => "150") %>
					<br>
					<a href='<%= "#{blog_url}\##{Time.parse(item['pubDate'][0]).to_i}" %>'><%= item['title'][0] %></a>
					<br/>
					<p><%= h excerpt(item['description'][0].to_s, "", :radius => 200) %></p>
				</div>--><br/><br/><br/>
<div class="part2">
					<% item = @blog_items[2]; %>					
					<p>
					<% if item['thumbnail']  %>
						
						<img <%= item['thumbnail'].to_s.html_safe %> style="border:1px solid #B2DCDE; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;" width="250" height="150"/>
					<% else %>
						<p>NO THUMBNAIL</p>					
					<% end %>
					
					<br>
					<a href='<%= item['link'] %>'><%= item['title'][0] %></a>
					<br/>
					<p><%= h excerpt(item['description'][0].to_s, "", :radius => 200) %></p>
				</div> 
				
            </div>
            <div id="sq2">
				<div class="part1">
					<% item = @blog_items[1]; %>					
					<p>
					<% if item['thumbnail']  %>
						
						<img <%= item['thumbnail'].to_s.html_safe %> style="border:1px solid #B2DCDE; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;" width="250" height="150"/>
					<% else %>
						<p>NO THUMBNAIL</p>					
					<% end %>
					
					<br>
					<a href='<%= item['link'] %>'><%= item['title'][0] %></a>
					<br/>
					<p><%= h excerpt(item['description'][0].to_s, "", :radius => 200) %></p>
				</div>
				<br/><br/><br/>
				<!--<div class="part2">
					<% item = @blog_items[3]; %>				
					<p>
                                        <%= image_tag('2.jpg', :style => "border:1px solid #B2DCDE; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;", :width => "250", :height => "150") %>
					<br>
					<a href='<%= "#{blog_url}\##{Time.parse(item['pubDate'][0]).to_i}" %>'><%= item['title'][0] %></a>
					<br/>
					<p><%= h excerpt(item['description'][0].to_s, "", :radius => 200) %></p>
				</div>-->
<div class="part2">
					<% item = @blog_items[3]; %>					
					<p>
					<% if item['thumbnail']  %>
						
						<img <%= item['thumbnail'].to_s.html_safe %> style="border:1px solid #B2DCDE; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;" width="250" height="150"/>
					<% else %>
						<p>NO THUMBNAIL</p>					
					<% end %>
					
					<br>
					<a href='<%= item['link'] %>'><%= item['title'][0] %></a>
					<br/>
					<p><%= h excerpt(item['description'][0].to_s, "", :radius => 200) %></p>
				</div> 
            </div>
             
            
        </div>
        <div id="right-column">
            <h1><%= _("TOP REQUESTS") %></h1>
            <div class="picture-frame">
					
																
						 
							
					
						
						 
						<!--<div id="TopFollows">
							
							<% info_request = InfoRequest.find_by_url_title!('dg_sanco_contacts_with_industry') %>
							<h1><a href="#"><%= info_request.title %></a> </h1>
							<div class="request-tracker-frontpage">
								<% follower_count = TrackThing.count(:all, :conditions => ["info_request_id = ?", info_request.id]) + 1 %>
								<div class="counter"><%= follower_count %></div>	
								<div class="counter-label">People following this request </div>
								 
								
								
							</div>
						</div> -->
						<% info_request = InfoRequest.find(1421) %>
						<% follower_count = TrackThing.count(:all, :conditions => ["info_request_id = ?", info_request.id]) + 1 %>
							 <%= render :partial => 'track/tracking_request_links', 
										:locals => { 
										:track_thing => TrackThing.create_track_for_request(info_request),
										:own_request => info_request.user == @user,
										:location => "frontpage"
										} %>
								<div style="clear:both"></div>			
						
						<% info_request = InfoRequest.find(235) %>
						<% follower_count = TrackThing.count(:all, :conditions => ["info_request_id = ?", info_request.id]) + 1 %>
						<%= render :partial => 'track/tracking_request_links', 
										:locals => { 
										:track_thing => TrackThing.create_track_for_request(info_request),
										:own_request => info_request.user == @user,
										:location => "frontpage"
										} %>
								<div style="clear:both"></div>	

<!--	<%= _("Search over<br/>
								<strong>{{number_of_requests}} requests</strong> <span>and</span><br/>
								<strong>{{number_of_authorities}} authorities</strong>",
								:number_of_requests => InfoRequest.visible.count, :number_of_authorities => PublicBody.visible.count) %>-->			
            </div>
           
            
        </div>
        <div class="link-arrow"><a href="<%= blog_url %>"><%= _("View all news & campaigns") %></a></div>
        <div style="clear:both"></div>
    </div>
</div>
