<div id="right_column_flip">
    <h2>Help pages</h2>
    
    <h3><%= link_to_unless_current "About", help_about_path %></h3>
    <ul class="no_bullets">
        <li><%= link_to "How does AsktheEU.org work?", help_about_path(:anchor => 'how') %></li>
        <li><%= link_to "Who built AsktheEU.org?", help_about_path(:anchor => 'who') %></li>
        <li><%= link_to "AsktheEU.org Supporters", help_about_path(:anchor => 'supporters') %></li>
    </ul>
    
    <h3><%= link_to_unless_current "Can I help out?", help_help_out_path %></h3>
    
    <h3><%= link_to_unless_current "Request Guide", help_requesting_path %></h3>
    <ul class="no_bullets">
        <li><%= link_to "Making Requests", help_requesting_path(:anchor => 'making_requests') %></li>
        <li><%= link_to "Finding EU bodies", help_requesting_path(:anchor => 'finding_bodies') %></li>
        <li><%= link_to "Which languages?", help_requesting_path(:anchor => 'languages') %></li>
        <li><%= link_to "Effective request tips", help_requesting_path(:anchor => 'tips') %></li>
        <li><%= link_to "Responses &amp; Appeals", help_requesting_path(:anchor => 'answers_appeals') %></li>
        <li><%= link_to "Request Moderation", help_requesting_path(:anchor => 'request_moderation') %></li>
    </ul>
    
    <h3><%= link_to_unless_current "Your privacy", help_privacy_path %></h3>
    
    <h3><%= link_to_unless_current "Information for EU Officials", help_officers_path %></h3>
    <ul class="no_bullets">
        <li><%= link_to "What is AsktheEU.org?", help_officers_path(:anchor => 'what') %></li>
        <li><%= link_to "Processing Requests", help_officers_path(:anchor => 'processing_requests') %></li>
        <li><%= link_to "Privacy Issues", help_officers_path(:anchor => 'privacy_issues') %></li>
    </ul>

    <h3></h3>
    <h3><%= link_to_unless_current "About the Software", help_alaveteli_path %></h3>

    <h3><%= link_to_unless_current "Programmers API", help_api_path %></h3>
    
    <h3><%= link_to_unless_current "Credits", help_credits_path %></h3>

    <h2 id="contact">Contact us</h2>
    <p>If your question isn't answered here, or you just wanted to let us know
    something about the site, <%= link_to 'contact us', help_contact_path %>.
    </p>
</div>


