<div id="right_column_flip">
    <h2>Help pages</h2>
    
    <h3><%= link_to_unless_current "Über Uns", help_about_path %></h3>
    <ul class="no_bullets">
        <li><%= link_to "Und wie funktioniert's?", help_about_path(:anchor => 'how') %></li>
        <li><%= link_to "Von wem kommt AsktheEU.org?", help_about_path(:anchor => 'who') %></li>
        <li><%= link_to "AsktheEU.org Supporters", help_about_path(:anchor => 'supporters') %></li>
    </ul>
    
    <h3><%= link_to_unless_current "Kann ich mithelfen?", help_help_out_path %></h3>
    
    <h3><%= link_to_unless_current "Anfragen-Leitfaden", help_requesting_path %></h3>
    <ul class="no_bullets">
        <li><%= link_to "Anfragen stellen", help_requesting_path(:anchor => 'making_requests') %></li>
        <li><%= link_to "EU-Behörden finden", help_requesting_path(:anchor => 'finding_bodies') %></li>
        <li><%= link_to "Welche Sprachen?", help_requesting_path(:anchor => 'languages') %></li>
        <li><%= link_to "Hilfreiche Anfragen-Tipps", help_requesting_path(:anchor => 'tips') %></li>
        <li><%= link_to "Antworten &amp; Beschwerden", help_requesting_path(:anchor => 'answers_appeals') %></li>
        <li><%= link_to "Anfragenmoderation", help_requesting_path(:anchor => 'request_moderation') %></li>
    </ul>
    
    <h3><%= link_to_unless_current "Ihr Recht zu wissen", help_right_to_know_path %></h3>
        
    <h3><%= link_to_unless_current "Ihre Privatsphäre", help_privacy_path %></h3>
    
    <h3><%= link_to_unless_current "Informationen für EU-Vertreter", help_officers_path %></h3>
    <ul class="no_bullets">
        <li><%= link_to "Was ist AsktheEU.org?", help_officers_path(:anchor => 'what') %></li>
        <li><%= link_to "Anfragenbearbeitung", help_officers_path(:anchor => 'processing_requests') %></li>
        <li><%= link_to "Datenschutzaspekte", help_officers_path(:anchor => 'privacy_issues') %></li>
    </ul>

    <h3></h3>
    <h3><%= link_to_unless_current "Über die Software", help_alaveteli_path %></h3>

    <h3><%= link_to_unless_current "Programmierer-API", help_api_path %></h3>
    
    <h3><%= link_to_unless_current "Impressum", help_credits_path %></h3>

    <h2 id="contact">Kontakt</h2>
    <p>Sollten Sie hier keine Antwort auf Ihre Frage finden oder sollten Sie uns etwas mitteilen wollen, <%= link_to 'nehmen Sie Kontakt auf', help_contact_path %>.
    </p>
</div>


