<ul>
    <li>
        <a href="http://www.alter-eu.org/">ALTER-EU - Alliance for Lobbying Transparency and Ethics Regulation</a><br/>
        <a href="http://www.alter-eu.org/"><%= image_tag("supporters/AlterEU.png") %></a>
    </li>
    <li>
        <a href="http://www.ecas-citizens.eu/">ECAS – European Citizen Action Service</a><br/>
        <a href="http://www.ecas-citizens.eu/"><%= image_tag("supporters/ECAS2.png") %></a>
    </li>
    <li>
        <a href="http://europe.ifj.org/">EFJ</a><br/>
        <a href="http://europe.ifj.org/"><%= image_tag("supporters/EuropeanFederationofJournalists.jpg") %></a>
    </li>
    <li>
        <a href="http://eutransparency.org/">EUTransparency.org</a><br/>
        <a href="http://eutransparency.org/"><%= image_tag("supporters/EUTransparencydotorg.png") %></a>
    </li>
    <li>
        <a href="http://farmsubsidy.org/">Farm Subsidy</a><br/>
        <a href="http://farmsubsidy.org/"><%= image_tag("supporters/farmsubsidydotorg2.png") %></a>
    </li>
    <li>
        <a href="http://fishsubsidy.org/">Fish Subsidy</a><br/>
        <a href="http://fishsubsidy.org/"><%= image_tag("supporters/fishsubsidydotorg.png") %></a>
    </li>
    <li>
        <a href="http://fragdenstaat.de/">Frag den Staat</a><br/>
        <a href="http://fragdenstaat.de/"><%= image_tag("supporters/fragdenstaat.png") %></a>
    </li>
    <li>
        <a href="http://okfn.org/">Open Knowledge Foundation</a><br/>
        <a href="http://okfn.org/"><%= image_tag("supporters/OpenKnowledgeFoundation.jpg") %></a>
    </li>
    <li>
        <a href="http://www.regardscitoyens.org/">Regards Citoyens</a><br/>
        <a href="http://www.regardscitoyens.org/"><%= image_tag("supporters/regards-citoyens.png") %></a>
    </li>
    <li>
        <a href="http://www.statewatch.org/">Statewatch</a><br/>
        <a href="http://www.statewatch.org/"><%= image_tag("supporters/Statewatch.png") %></a>
    </li>
</ul>
