<% @title = "Information for EU Officials" %>
<div id="titleHow">INFORMATION FOR EU OFFICIALS</div>
<div id="subtitleAbout">WELCOME TO ASKTHEEU.ORG!</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    

    <h3><a href="#what">What is AsktheEU.org?</a></h3>
    <h3><a href="#processing_requests">Processing Requests</a></h3>
    <h3><a href="#privacy_issues">Privacy Issues</a></h3>

    <h1 id="what">What is AsktheEU.org?</h1>
    
    <h2>I just got here from bottom of a documents request, what is going on?</h2>
    <p>AsktheEU.org is a website run by a non-governmental human rights organisation, <a href="http://www.access-info.org">Access Info Europe</a>. It helps ordinary members of the public make requests for documents and information to EU bodies and shares the responses with the wider public.</p>
    <p>The request you received was made by someone using AsktheEU.org.</p>
    <p>You should simply reply to the request as you would any other request for documents. The only difference is that your response will be automatically published on the Internet.</p> 
    <p>If you have privacy or other concerns, please read the answers below.</p> 
    <p>You might also like to read the <%= link_to 'About AsktheEU.org', help_about_path %> section to find out more about what the site does from the point of view of a user.</p>
    <p>You can also search the site to find the authority that you work for, and view the status of any requests made using the site.</p>
    <p>Finally, we welcome comments and thoughts from FOI officers, please <%= link_to 'get in touch', help_contact_path %>.</p>
    
    <h2>Why are you publishing responses to FOI requests?</h2>
    <p>We think there are lots of benefits. Most importantly it will encourage the public to be more interested and involved in the work of the European Union.</p> 
    <p>We also hope that it will reduce the number of duplicate requests on any subject that each EU body will receive.</p> 
    <p>Given that responses to access to documents requests contain public information, which anybody could easily request again from the public authority, there is no reason not to publish this information widely.</p>
    
    <h2>Are the people making requests real people?</h2>
    <p>Yes. For the purposes of keeping track of responses we use computer-generated email addresses for each request. However, before they can send a request, each user must register on the site with a unique email address that we then verify. You can search this site and find a list of all requests that each person has made.</p>
    
    <h2>AsktheEU.org is making a very large number of requests!</h2>
    <p>AsktheEU.org is not making any requests. We are sending requests on behalf of our users, who are real people making the requests for information they are interested in.</p>

    <h1 id="processing_requests">Processing Requests</h1>
    
    <h2 id="spam_problems">I can see a request on AsktheEU.org, but we never got it by email!</h2>
    <p>If a request appears on the site, then we have attempted to send it to the relevant EU body by email. Any delivery failure messages will automatically appear on the site.</p>
    <p>You can check the address we're using with the "View email address" link which appears on the page for EU body authority.</p>
    <p>Please kindly <%= link_to 'contact us', help_contact_path %> if there is a better address we can use.</p>
    <p>Requests are sometimes blocked by "spam filters". To make sure that this doesn't happen by asking your IT departments to "whitelist" any email from <strong>@asktheeu.org</strong>.</p>
    <p>If you <a href="mailto:team@asktheeu.org">ask us</a> we will resend any request, and/or give technical details of delivery so an IT department can chase up what happened to the message.</p>
    
    <h2 id="days">How do you calculate the deadline shown on request pages?</h2>
    <p>We calculate 15 working days in line with Regulation 1049/2001 which obliges many EU institutions.</p>
    <p>We start calculating days on the first working day after the delivery of the request. If the request is sent on a working day, we start counting the next working day.</p>
    <p><strong>Reminder</strong>: this is the maximum timeframe because Regulation 1049/2001 says: <q>An application for access to a document shall be handled <strong>promptly</strong>.</q> (Article 7.1)</p>
    <p>It then says: <q>An <strong>acknowledgement</strong> of receipt shall be sent to the applicant.</q> (Article 7.1)</p>
    <p>And then comes the <strong>maximum timeframe</strong>: <q>Within 15 working days from registration of the application, the institution shall either grant access to the document requested and provide access in accordance with Article 10 within that period or, in a written reply, state the reasons for the total or partial refusal and inform the applicant of his or her right to make a confirmatory application in accordance with paragraph 2 of this Article.</q> (Article 7.1)</p>
    
    <h2>How do you handle extensions?</h2>
    <p>Extensions are permitted by EU law, for a maximum of 15 additional working days:</p>
    <p><q>In exceptional cases, for example in the event of an application relating to a very long document or to a very large number of documents, the time-limit provided for in paragraph 1 may be extended by 15 working days, provided that the applicant is notified in advance and that detailed reasons are given.</q> (Article 7.3)</p>
    <p>Note that you have to notify the requester – a quick email with a sentence or two saying what is happening is a legal obligation; this should be sent as soon as possible, not on day 14 after the request is received.</p> 
    <p>We know that EU officials often have to do a lot of <strong>hard work</strong> to answer requests, and this is hidden from the public. Letting the public know about this regular communications with requesters will help everyone by making that complexity visible.</p>
    
    <h2>How do I answer the request?</h2>
    <p>Just reply to the email in the normal way. The request will be delivered to the requester as well as being published on the AsktheEU.org website.</p>
    
    <h2>How can I send a large file, which won't go by email?</h2>
    <p>Instead of email, you can respond to a request directly from your web browser, including uploading a file. To do this, choose "respond to request" at the bottom of the request's page. Contact us if it is too big for even that (more than, say, 50Mb).</p>
    
    <h1 id="privacy_issues">Privacy Issues</h1>
    
    <h2>Why do you publish the names of civil servants and the text of emails?</h2>
    <p>We consider what officers or servants do in the course of their employment to be public information. We will only remove content in exceptional circumstances, see our <%= link_to 'take down policy', help_privacy_path(:anchor=>'takedown') %>.</p>

    <h2 id="mobiles">Do you publish email addresses or mobile phone numbers?</h2>
    <p>To prevent spam, we automatically remove most emails and some mobile numbers from responses to requests. Please <%= link_to 'contact us', help_contact_path %> if we've missed one. For technical reasons we don't always remove them from attachments, such as certain PDFs.</p>
    <p>If you need to know what an address was that we've removed, please <%= link_to 'get in touch with us', help_contact_path %>. Occasionally, an email address forms an important part of a response and we will post it up in an obscured form in an annotation. </p>

</div>
