<!-- Display followers -->
<div class="tracking-links-<%= location %>">
    <% follower_count = TrackThing.count(:all, :conditions => ["info_request_id = ?", track_thing.info_request.id]) + 1 %>
    <% if location == 'frontpage' %>
      <h4><%= link_to excerpt(track_thing.info_request.title, "", :radius => 70), request_url(track_thing.info_request) %></h4>
    <% end %>
    <div class="request-tracker-<%= location %>">
        <div class="counter"><%= follower_count %></div>
        <div class="counter-label"><%= n_("Person following this request", "People following this request", follower_count) %></div>
        <div style="clear:both"></div>

        <!-- Tracking links -->
        <%
            if @user
                existing_track = TrackThing.find_existing(@user, track_thing)
            end
        %>
        <% if own_request %> 
            <p><%= _('This is your own request, so you will be automatically emailed when new responses arrive.')%></p>
        <% elsif existing_track %> 
                <% form_tag({:controller => 'track', :action => 'update', :track_id => existing_track.id}, :class => "feed_form feed_form_" + location) do %>
                    <p>
                        <%= track_thing.params[:verb_on_page_already] %>
                        <%= hidden_field_tag 'track_medium', "delete" %>
                        <%= hidden_field_tag 'r', request.fullpath %>
                        <%= submit_tag _("unsubscribe") %>
                    </p>
                <% end %>
        <% elsif track_thing %>
            <div class="feed_link feed_link_<%=location%>">
                <div class="track-button">
                    <!-- <%= link_to image_tag("email-16.png", :alt => ""), do_track_url(track_thing) %> -->
                    <%= link_to _("I also want to know"),
                    do_track_url(track_thing) %>
                </div>
            </div>
            
            <% if location != 'frontpage' %>
              <div style="clear:both"></div>
              <div class="feed_link feed_link_<%=location%>">
                  <%= link_to image_tag("feed-16.png", :alt => ""), do_track_url(track_thing, 'feed') %> 
                  <%= link_to (location == 'sidebar' ? _('RSS feed of updates') : _('RSS feed')),  do_track_url(track_thing, 'feed') %>
              </div>
            <% end %>
        <% end %>

        <div style="clear:both"></div>
    </div>
</div>


